<div
  class="dashboard-container"
  *ngIf="dashboardData">

  <h2>
    Dashboard
  </h2>

  <div class="cards">

    <div class="dashboard-card">

      <h5>Total Students</h5>

      <h2>
        {{dashboardData.totalStudents}}
      </h2>

    </div>

    <div class="dashboard-card">

      <h5>Total Staff</h5>

      <h2>
        {{dashboardData.totalStaff}}
      </h2>

    </div>

    <div class="dashboard-card">

      <h5>Total Classes</h5>

      <h2>
        {{dashboardData.totalClasses}}
      </h2>

    </div>

    <div class="dashboard-card">

      <h5>Total Sections</h5>

      <h2>
        {{dashboardData.totalSections}}
      </h2>

    </div>

    <div class="dashboard-card">

      <h5>Today's Collection</h5>

      <h2>
        ₹{{dashboardData.todayCollection}}
      </h2>

    </div>

    <div class="dashboard-card">

      <h5>Monthly Collection</h5>

      <h2>
        ₹{{dashboardData.monthlyCollection}}
      </h2>

    </div>

  </div>

  <div class="charts-section">

    <div class="chart-card">

      <h4>
        Student Attendance
      </h4>

      <canvas
        baseChart
        [data]="pieChartData"
        [options]="pieChartOptions"
        [type]="'pie'">
      </canvas>

    </div>

    <div class="chart-card">

      <h4>
        Fee Collection
      </h4>

      <canvas
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="'bar'">
      </canvas>

    </div>

  </div>

</div>